# ==== RStudio temporary files ====
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# ==== Quarto intermediate / cache files ====
.quarto/
/.quarto/
**/*.quarto_ipynb
site_libs/

# === Data Files ===
data/
Data/
*.jpg
*.png
*.xlsx