# ==== RStudio temporary files ====
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# ==== Quarto intermediate / cache files ====
.quarto/
/.quarto/
**/*.quarto_ipynb
site_libs/
*_cache/
*.rmarkdown

# === Data Files ===
data/
Data/
*.xlsx